language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"  # 3.9 development branch
  - "pypy"
  - "pypy3"
jobs:
  allow_failures:
    - python: "3.9-dev"
install:
  - pip install coveralls tox-travis
script:
  tox
after_success:
  coveralls
