arch:
  - amd64
  - ppc64le
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"  # 3.9 development branch
  - "pypy"
  - "pypy3"
jobs:
 exclude:
  - arch: ppc64le
    python: "2.7"
  - arch: ppc64le
    python: "pypy"
  - arch: ppc64le 
    python: "pypy3"
  - arch: amd64
    python: "pypy"
    
allow_failures:
    - python: "3.9-dev"
    
install:
  - pip install coveralls tox-travis
script:
  tox
after_success:
  coveralls
