[tool.black]
line-length = 120
skip-string-normalization = true
target-version = ['py37', 'py38', 'py39', 'py310', 'py311', 'py312', "py313", "py314"]
include = '\.pyi?$'

[tool.isort]
line_length = 120
force_single_line = true

[[tool.uv.index]]
name = "testpypi"
url = "https://test.pypi.org/simple/"
publish-url = "https://test.pypi.org/legacy/"
explicit = true
